:root {
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(
    -45deg,
    rgb(0, 6, 59),
    rgb(7, 0, 36),
    #260d3d,
    rgb(34, 0, 34)
  );

  background-size: 400% 400%;

  animation: gradient-cascade 15s ease infinite;

  height: 100vh;
  width: 100vw;
}

@keyframes gradient-cascade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  padding-top: 5%;
  width: 100%;

  font-size: 2rem;
  font-family: var(--font-heading);
}

header h1 {
  padding-bottom: 3%;
}

nav {
  display: flex;
  gap: 30px;
  
  font-size: 1rem;
}

nav a {
  display: inline-block;
  color: rgb(160, 160, 160);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
nav a:hover {
  transform: scale(1.1);
}

main {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container nav ul {
  display: flex;
  gap: 40px;
}

.nav-container li {
  list-style: none;
}

.nav-container li a {
  display: inline-block;
  background-color: white;

  text-decoration: none;
  color: black;
  font-family: var(--font-body);
  font-weight: 600;
  padding: 20px 30px;
  border-radius: 12px;

  transition: transform 0.3s ease;
}

.nav-container a:hover {
  transform: scale(1.1);
}
